body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 

ul,ol {
	list-style: none;
}

img {
	vertical-align: middle;
}

b,i,em,del,strong {
	font-style: normal;
}

table /* 设置table 的样式*/
{
border-collapse:collapse;
 border-spacing:0;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}